<h1><%= @recipe.name() %></h1>

<h3>Select all ingredients in this recipe:</h3>

<% if @ingredients.any?() %>
  <form action="/recipes/<%= @recipe.id %>" method="post">
    <input type="hidden" name="_method" value="patch">

    <% @ingredients.each() do |ingredient| %>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="ingredient_ids[]" value="<%= ingredient.id() %>"><%= ingredient.food() %>
        </label>
      </div>
    <% end %>

    <button type="submit">Add ingredients</button>
  </form>
<% end %>

<br>

<% if @recipe.ingredients().any?() %>
  <h3>Here are all the ingredients in this recipe:</h3>

  <ul>
    <% @recipe.ingredients().each() do |ingredient| %>
      <li><%= ingredient.food() %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no ingredients yet!</p>
<% end %>

<h3>Instructions:</h3>
<p> <%= @recipe.instruction() %></p>


<a href="/">Return to Main Page</a>
